<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>消息通知</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./javascript/index.css">
    <link rel="icon" type="image/png" sizes="16x16" href="members/assets/images/keep-icon.jpg">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="members/assets/node_modules/morrisjs/morris.css" rel="stylesheet">

    <!--c3 plugins CSS -->
    <link href="members/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="members/dist/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="members/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="members/dist/js/echarts.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body class="skin-default-dark fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="app">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elegant admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{'/toMemberGym'}">
                        <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="members/assets/images/keep-icon.jpg" style="width: 40px;height: 40px;" alt="homepage"
                             class="dark-logo"/>
                        <!-- Light Logo icon -->
                    </b>
                    </a>
                </div>

                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- <h1>健身是世界上最公平的事,付出多少,收获多少。</h1>-->

                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="members/assets/images/keep-icon.jpg" style="width: 40px;height: 40px;"
                           alt="elegant admin template"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="#"><i class="ti-menu"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="#"><i
                        class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberGym'}"
                               aria-expanded="false">
                            <i class="fa fa-tachometer"></i><span class="hide-menu">打卡记录</span></a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberCourse'}"
                               aria-expanded="false"><i
                                class="fa fa-user-circle-o"></i><span class="hide-menu">课表信息</span></a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberCoach'}"
                               aria-expanded="false"><i
                                class="fa fa-table"></i><span class="hide-menu"></span>教练详情</a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberInfo'}"
                               aria-expanded="false"><i class="fa fa-smile-o"></i><span
                                class="hide-menu"></span>个人信息</a></li>
                        <li>
                            <a class="waves-effect waves-dark" th:href="@{'/toMemberNotice'}"
                               aria-expanded="false"><i
                                    class="fa fa-globe"></i><span class="hide-menu"></span>
                                <el-badge :value="messageNum" class="item" type="primary">消息通知</el-badge>
                            </a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberFeedback'}"
                               aria-expanded="false"><i
                                class="fa fa-bookmark-o"></i><span class="hide-menu"></span>意见反馈</a></li>
                        <li>
                            <a class="waves-effect waves-dark" th:href="@{/toLoginOut}">退出登录</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">打卡记录</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        th:href="@{'/toMemberInfo'}"
                                        th:text="'当前用户：'+${memberName}"></a></li>
                                <li class="breadcrumb-item active">打卡记录</li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Yearly Sales -->
                <!-- ============================================================== -->
                <div class="col-md-6">
                    <div class="card" style="width: 1800px">
                        <div class="card-body" style="height: 700px">
                            <el-card class="box-card"  shadow="hover" style="width: 800px; display: block; float: left;margin-left: 30px">
                                <div slot="header" class="clearfix">
                                    <span>未读通知</span>
                                    <el-button style="float: right; padding: 3px 0" type="text" @click="setAllNoticeCheck()">全部标记为已读</el-button>
                                </div>
                                <template>
                                    <el-table
                                            :data="noCheckMessageList"
                                            stripe
                                            border
                                            style="width: 100%">
                                        <el-table-column
                                                prop="id"
                                                label="消息"
                                                width="60">
                                        </el-table-column>
                                        <el-table-column
                                                prop="type"
                                                label="通知类型"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="content"
                                                label="通知内容"
                                                width="230">
                                        </el-table-column>
                                        <el-table-column
                                                prop="strSendTime"
                                                label="发送时间"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作"
                                                fixed="right"
                                                align="center"
                                                width="180">
                                            <template slot-scope="scope" align="center">
                                                <el-button @click="setNoticeCheck(scope.row.id)" type="text"
                                                           size="small">
                                                    标记为已读
                                                </el-button>
                                                <el-button size="small" type="text"
                                                           @click="deleteNotice(scope.row.id)">
                                                    删除该通知
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </template>
                            </el-card>

                            <el-card class="box-card"  shadow="hover" style="width: 800px ; display: block; float: left;margin-left: 70px">
                                <div slot="header" class="clearfix">
                                    <span>已读通知</span>
                                    <el-button @click="confirmDelete()" style="float: right; padding: 3px 0" type="text">删除全部通知</el-button>
                                </div>
                                <template>
                                    <el-table
                                            :data="alreadyCheckMessageList"
                                            stripe
                                            border

                                            style="width: 100%">
                                        <el-table-column
                                                prop="id"
                                                label="消息"
                                                width="60">
                                        </el-table-column>
                                        <el-table-column
                                                prop="type"
                                                label="通知类型"
                                                width="100">
                                        </el-table-column>
                                        <el-table-column
                                                prop="content"
                                                label="通知内容"
                                                width="230">
                                        </el-table-column>
                                        <el-table-column
                                                prop="strSendTime"
                                                label="发送时间"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                label="操作"
                                                align="center"
                                                fixed="right"
                                                width="180">
                                            <template slot-scope="scope" align="center">
                                                <el-button size="small" type="text"
                                                           @click="deleteNotice(scope.row.id)">
                                                    删除该通知
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </template>
                            </el-card>
                            <input type="hidden" name="memberId" id="memberId"
                                   th:value="${memberId}"><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="members/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="members/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="members/dist/js/memberNotice.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="members/assets/node_modules/popper/popper.min.js"></script>
<script src="members/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<!--Wave Effects -->
<script src="members/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="members/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="members/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--morris JavaScript -->
<script src="members/assets/node_modules/raphael/raphael-min.js"></script>
<script src="members/assets/node_modules/morrisjs/morris.min.js"></script>
<script src="members/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--c3 JavaScript -->
<script src="members/assets/node_modules/d3/d3.min.js"></script>
<script src="members/assets/node_modules/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="members/dist/js/dashboard1.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>
