<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>课表信息</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="members/assets/images/keep-icon.jpg">
    <title>Elegant Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="members/dist/css/style.css" rel="stylesheet">
    <!-- page css -->
    <link href="members/dist/css/pages/icon-page.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="members/dist/js/memberInfo.js">
</head>
<body class="skin-default-dark fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="app">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elegant admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{'/toMemberGym'}">
                        <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="members/assets/images/keep-icon.jpg" style="width: 40px;height: 40px;" alt="homepage"
                             class="dark-logo"/>
                        <!-- Light Logo icon -->

                    </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="members/assets/images/logo-text.png" alt="homepage" class="dark-logo"/>
                        <!-- Light Logo text -->
                         <img src="members/assets/images/logo-light-text.png" class="light-logo" alt="homepage"/></span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!--  <h1>健身是世界上最公平的事,付出多少,收获多少。</h1>-->
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="members/assets/images/keep-icon.jpg" style="width: 40px;height: 40px;"
                           alt="elegant admin template"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i
                        class="ti-menu"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberGym'}"
                               aria-expanded="false">
                            <i class="fa fa-tachometer"></i><span class="hide-menu">打卡记录</span></a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberCourse'}"
                               aria-expanded="false"><i
                                class="fa fa-user-circle-o"></i><span class="hide-menu">课表信息</span></a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberCoach'}"
                               aria-expanded="false"><i
                                class="fa fa-table"></i><span class="hide-menu"></span>教练详情</a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberInfo'}"
                               aria-expanded="false"><i class="fa fa-smile-o"></i><span
                                class="hide-menu"></span>个人信息</a></li>
                        <li>
                            <a class="waves-effect waves-dark" th:href="@{'/toMemberNotice'}"
                               aria-expanded="false"><i
                                    class="fa fa-globe"></i><span class="hide-menu"></span>
                                <el-badge :value="messageNum" class="item" type="primary">消息通知</el-badge>
                            </a></li>
                        <li><a class="waves-effect waves-dark" th:href="@{'/toMemberFeedback'}"
                               aria-expanded="false"><i
                                class="fa fa-bookmark-o"></i><span class="hide-menu"></span>意见反馈</a></li>
                        <li>
                            <a class="waves-effect waves-dark" th:href="@{/toLoginOut}">退出登录</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">团体课表</h3>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        th:href="@{'/toMemberInfo'}"
                                        th:text="'当前用户：'+${memberName}"></a></li>
                                <li class="breadcrumb-item active">团体课表</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <section>
                                    <div class="icon-list-demo row">
                                        <el-row gutter="5">
                                            <input type="hidden" name="memberId" id="memberId"
                                                   th:value="${memberId}"><br>
                                            <el-col :span="6" v-for="(item,i) in form" :value="item">
                                                <el-card :body-style="{ padding: '10px' }" shadow="hover">
                                                    <img :src="item.picSrc" class="image" >
                                                    <div style="padding: 14px">
                                                        <span><h3>课程名称：{{ item.name }}</h3></span>
                                                        <el-divider></el-divider>
                                                        <span>课程类型：{{ item.type }}</span>
                                                        <el-divider direction="vertical"></el-divider>
                                                        <span>课程教练：{{ item.coachName }}</span> <br>
                                                        <span>课程内容：{{ item.content }}</span>
                                                        <el-divider direction="vertical"></el-divider>
                                                        <span>剩余人数：{{ item.num }}</span><br>
                                                        <div class="bottom clearfix">
                                                            <time class="time">开课时间：{{ item.strStartTime }}</time>
                                                            <br>
                                                            <time class="time">结束时间：{{ item.strEndTime }}</time>
                                                            <el-button type="submit" class="button"
                                                                       @click="confirmOnSubmit(item.courseId)">预约课程
                                                            </el-button>
                                                        </div>
                                                    </div>
                                                </el-card>
                                            </el-col>
                                        </el-row>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="members/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="members/assets/node_modules/popper/popper.min.js"></script>
<script src="members/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="members/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="members/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="members/dist/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="members/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="members/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="members/dist/js/custom.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="members/dist/js/memberCourse.js"></script>
</body>
</html>
