<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>员工管理 - keepGym后台管理系统模板</title>
    <link rel="icon" href="images/keep-icon.jpg" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>

<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <aside class="lyear-layout-sidebar">

                <!-- logo -->
                <div id="logo" class="sidebar-header">
                    <a th:href="@{'/toManageIndex'}"><img src="images/logo-sidebar.png"
                                                          title="LightYear"
                                                          alt="LightYear"/></a>
                </div>
                <div class="lyear-layout-sidebar-scroll">

                    <nav class="sidebar-main">
                        <ul class="nav nav-drawer">
                            <li class="nav-item active"><a th:href="@{'/toManageIndex'}"><i
                                    class="mdi mdi-home"></i> 后台首页</a></li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 数据管理</a>
                                <ul class="nav nav-subnav">
                                    <li><a th:href="@{'/toMemberManage'}">会员管理</a></li>
                                    <li><a th:href="@{'/toEmployeeManage'}">员工管理</a></li>
                                    <li><a th:href="@{'/toCourseManage'}">团课私教</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> 系统功能</a>
                                <ul class="nav nav-subnav">
                                    <li><a th:href="@{'/toFeedbackManage'}">意见反馈</a></li>
                                    <li><a th:href="@{'/toNoticeManage'}">消息通知</a></li>
                                    <li><a th:href="@{'/toBackUpManage'}">数据备份</a></li>
                                    <input type="hidden" name="managerId" id="managerId"
                                           th:value="${managerId}"><br>
                                </ul>
                            </li>
                        </ul>

                    </nav>

                </div>

            </aside>
            <!--End 左侧导航-->

            <!--头部信息-->
            <header class="lyear-layout-header">

                <nav class="navbar navbar-default">
                    <div class="topbar">

                        <div class="topbar-left">
                            <div class="lyear-aside-toggler">
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                            </div>
                            <span class="navbar-page-title"> 员工管理 </span>
                        </div>

                        <ul class="topbar-right">
                            <li class="dropdown dropdown-profile">
                                <a href="javascript:void(0)" data-toggle="dropdown">
                                    <span th:text="'当前管理员：'+${managerName}"><span class="caret"></span></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a th:href="@{'/toLoginOut'}"></i> 退出登录</a>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                            <li class="dropdown dropdown-skin">
                                <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                                <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                    <li class="drop-title"><p>主题</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>LOGO</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>头部</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>侧边栏</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                        </ul>

                    </div>
                </nav>

            </header>
            <!--End 头部信息-->

            <!--页面主要内容-->
            <main class="lyear-layout-content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header"><h4>管理员列表</h4>
                                    <div style="text-align: right ; width: 200px">
                                        <el-button type="primary" icon="el-icon-circle-plus-outline"
                                                   @click="choiceEmployeeDialog = true">添加员工
                                        </el-button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <el-table
                                            :data="managers"
                                            border
                                            height="500"
                                            stripe
                                            style="width: 100%">
                                        <el-table-column
                                                prop="id"
                                                label="管理员id"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="name"
                                                label="姓名"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="gender"
                                                label="性别"
                                                width="120">
                                        </el-table-column>

                                        <el-table-column
                                                prop="email"
                                                label="邮箱"
                                                width="200">
                                        </el-table-column>
                                        <el-table-column
                                                prop="phone"
                                                label="电话"
                                                width="120">
                                        </el-table-column>
                                        <el-table-column
                                                prop="bankCard"
                                                label="工资卡"
                                                width="180">
                                        </el-table-column>
                                        <el-table-column
                                                prop="address"
                                                label="地址"
                                                width="250">
                                        </el-table-column>
                                        <el-table-column
                                                prop="position"
                                                label="职位"
                                                width="150">
                                        </el-table-column>
                                        <el-table-column
                                                align="right"
                                                width="200">
                                            <template slot="header" slot-scope="scope">
                                                <el-input
                                                        icon="search"
                                                        v-model="search"
                                                        size="mini"
                                                        placeholder="输入关键字搜索"></el-input>
                                            </template>
                                            <template slot-scope="scope" align="center">
                                                <el-button @click="editManagerInfo(scope.row.id)" type="text"
                                                           size="small">
                                                    编辑
                                                </el-button>
                                                <el-button size="small" type="text"
                                                           @click="confirmDeleteManager(scope.row.id)">
                                                    删除
                                                </el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><h4>教练列表</h4></div>
                        <div class="card-body">
                            <template>
                                <el-table
                                        :data="coaches"
                                        border
                                        height="500"
                                        stripe
                                        style="width: 100%">
                                    <el-table-column
                                            prop="id"
                                            label="教练id"
                                            width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="姓名"
                                            width="110">
                                    </el-table-column>
                                    <el-table-column
                                            prop="gender"
                                            label="性别"
                                            width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="phone"
                                            label="电话"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="address"
                                            label="地址"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="bankCard"
                                            label="工资卡"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="graduSchool"
                                            label="毕业健身院校"
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="类型"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="teachTime"
                                            label="教龄(年)"
                                            width="80">
                                    </el-table-column>
                                    <el-table-column
                                            prop="strEnterTime"
                                            label="入职时间"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="content"
                                            label="个性签名"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="coachPic"
                                            label="图片地址"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            align="right"
                                            width="180">
                                        <template slot="header" slot-scope="scope">
                                            <el-input
                                                    icon="search"
                                                    v-model="search"
                                                    size="mini"
                                                    placeholder="输入关键字搜索"></el-input>
                                        </template>
                                        <template slot-scope="scope" align="center">
                                            <el-button @click="showPic(scope.row.coachPic)" type="text"
                                                       size="small">
                                                显示图片
                                            </el-button>
                                            <el-button @click="editCoachInfo(scope.row.id)" type="text" size="small">
                                                编辑
                                            </el-button>
                                            <el-button size="small" type="text" @click="confirmDeleteCoach(scope.row.id)">
                                                删除
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>

                            <el-dialog title="查看图片" :visible.sync="showPicDialog">
                                <el-image :src="pictureSrc"></el-image>
                            </el-dialog>


                            <!-- 修改管理员信息的dialog-->
                            <el-dialog title="修改管理员信息" :visible.sync="alterManagerDialog">
                                <el-form :model="managerInfo">
                                    <el-form-item label="姓名：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.name" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别：" :label-width="formLabelWidth">
                                        <el-select v-model="managerInfo.gender" placeholder="请选择性别">
                                            <el-option label="男" value="1"></el-option>
                                            <el-option label="女" value="2"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="电话：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.phone" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="邮箱：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.email" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="地址：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.address" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="工资卡：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.bankCard" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="alterManagerInfo()">修 改</el-button>
                                    <el-button @click="alterManagerDialog = false">取 消</el-button>
                                </div>
                            </el-dialog>

                            <!--修改教练信息的dialog-->
                            <el-dialog title="修改教练信息" :visible.sync="alterCoachDialog">
                                <el-form :model="coachInfo">
                                    <el-form-item label="姓名：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.name" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别：" :label-width="formLabelWidth">
                                        <el-select v-model="coachInfo.gender" placeholder="请选择性别">
                                            <el-option label="男" value="1"></el-option>
                                            <el-option label="女" value="2"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="电话：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.phone" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="地址：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.address" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="工资卡：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.bankCard" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="教龄：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.teachTime" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="类型：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.type" autocomplete="off"></el-input>
                                    </el-form-item>

                                    <el-form-item label="毕业院校：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.graduSchool" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="个性签名：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.content" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="图片路径：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.coachPic" autocomplete="off"></el-input>
                                        <div style="text-align: right">
                                            <el-button @click="showPic(coachInfo.coachPic)" type="text"
                                                       size="small">
                                                显示图片
                                            </el-button>
                                        </div>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="alterCoachInfo()">修 改</el-button>
                                    <el-button @click="alterCoachDialog = false">取 消</el-button>
                                </div>
                            </el-dialog>


                            <el-dialog title="选择添加员工类型" :visible.sync="choiceEmployeeDialog">

                                <el-button type="primary" @click="resetManagerInfo()">管理员</el-button>
                                <el-button type="primary" @click="resetCoachInfo()">教 练</el-button>

                            </el-dialog>

                            <!--添加管理员信息的dialog-->
                            <el-dialog title="添加管理员" :visible.sync="addManagerDialog">
                                <el-form :model="managerInfo">
                                    <el-form-item label="id：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.id" autocomplete="off"
                                                  placeholder="请设置管理员唯一id"></el-input>
                                    </el-form-item>
                                    <el-form-item label="姓名：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.name" autocomplete="off"
                                                  placeholder="请输入姓名"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别：" :label-width="formLabelWidth">
                                        <el-select v-model="managerInfo.gender" placeholder="请选择性别">
                                            <el-option label="男" value="1"></el-option>
                                            <el-option label="女" value="2"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="电话：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.phone" autocomplete="off"
                                                  placeholder="请输入电话"></el-input>
                                    </el-form-item>
                                    <el-form-item label="邮箱：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.email" autocomplete="off"
                                                  placeholder="请输入邮箱"></el-input>
                                    </el-form-item>
                                    <el-form-item label="地址：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.address" autocomplete="off"
                                                  placeholder="请输入地址"></el-input>
                                    </el-form-item>
                                    <el-form-item label="工资卡：" :label-width="formLabelWidth">
                                        <el-input v-model="managerInfo.bankCard" autocomplete="off"
                                                  placeholder="请输入银行卡号"></el-input>
                                    </el-form-item>
                                    <el-form-item label="职位：" :label-width="formLabelWidth">
                                        <el-select v-model="managerInfo.position" placeholder="请选择职位">
                                            <el-option label="总经理" value="总经理"></el-option>
                                            <el-option label="教练经理" value="教练经理"></el-option>
                                            <el-option label="前台经理" value="前台经理"></el-option>
                                            <el-option label="销售顾问" value="销售顾问"></el-option>
                                            <el-option label="前台接待" value="前台接待"></el-option>
                                        </el-select>
                                    </el-form-item>

                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="addManager()">修 改</el-button>
                                    <el-button @click="addManagerDialog = false">取 消</el-button>
                                </div>
                            </el-dialog>

                            <!--添加教练信息的dialog-->
                            <el-dialog title="修改教练信息" :visible.sync="addCoachDialog">
                                <el-form :model="coachInfo">
                                    <el-form-item label="id：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.id" autocomplete="off"
                                                  placeholder="请设置教练唯一id"></el-input>
                                    </el-form-item>
                                    <el-form-item label="姓名：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.name" autocomplete="off"
                                                  placeholder="请输入教练姓名"></el-input>
                                    </el-form-item>
                                    <el-form-item label="性别：" :label-width="formLabelWidth">
                                        <el-select v-model="coachInfo.gender" placeholder="请选择性别">
                                            <el-option label="男" value="1"></el-option>
                                            <el-option label="女" value="2"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="电话：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.phone" autocomplete="off"
                                                  placeholder="请输入电话"></el-input>
                                    </el-form-item>
                                    <el-form-item label="邮箱：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.email" autocomplete="off"
                                                  placeholder="请输入邮箱"></el-input>
                                    </el-form-item>
                                    <el-form-item label="地址：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.address" autocomplete="off"
                                                  placeholder="请输入地址"></el-input>
                                    </el-form-item>
                                    <el-form-item label="工资卡：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.bankCard" autocomplete="off"
                                                  placeholder="请输入银行卡号"></el-input>
                                    </el-form-item>
                                    <el-form-item label="教龄：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.teachTime" autocomplete="off"
                                                  placeholder="请输入教练教龄"></el-input>
                                    </el-form-item>
                                    <el-form-item label="类型：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.type" autocomplete="off"
                                                  placeholder="请输入教龄类型"></el-input>
                                    </el-form-item>
                                    <el-form-item label="毕业院校：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.graduSchool" autocomplete="off"
                                                  placeholder="请输入教练毕业院校"></el-input>
                                    </el-form-item>
                                    <el-form-item label="个性签名：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.content" autocomplete="off"
                                                  placeholder="请输入教练个性签名"></el-input>
                                    </el-form-item>
                                    <el-form-item label="图片路径：" :label-width="formLabelWidth">
                                        <el-input v-model="coachInfo.coachPic" autocomplete="off"
                                                  placeholder="请输入教练照片路径"></el-input>
                                        <div style="text-align: right">
                                            <el-button @click="showPic(coachInfo.coachPic)" type="text"
                                                       size="small">
                                                显示图片
                                            </el-button>
                                        </div>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="addCoach()">添 加</el-button>
                                    <el-button @click="addCoachDialog = false">取 消</el-button>
                                </div>
                            </el-dialog>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    </main>
    <!--End 页面主要内容-->
</div>
</div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/employeeManage.js"></script>

</body>
</html>