<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>keepGym后台管理系统首页</title>
    <link rel="icon" href="images/keep-icon.jpg" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

</head>

<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <aside class="lyear-layout-sidebar">

                <!-- logo -->
                <div id="logo" class="sidebar-header">
                    <a th:href="@{'/toManageIndex'}"><img src="images/logo-sidebar.png"
                                                          title="LightYear"
                                                          alt="LightYear"/></a>
                </div>
                <div class="lyear-layout-sidebar-scroll">

                    <nav class="sidebar-main">
                        <ul class="nav nav-drawer">
                            <li class="nav-item active"><a th:href="@{'/toManageIndex'}"><i
                                    class="mdi mdi-home"></i> 后台首页</a></li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 数据管理</a>
                                <ul class="nav nav-subnav">
                                    <li><a th:href="@{'/toMemberManage'}">会员管理</a></li>
                                    <li><a th:href="@{'/toEmployeeManage'}">员工管理</a></li>
                                    <li><a th:href="@{'/toCourseManage'}">团课私教</a></li>
                                </ul>
                            </li>

                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> 系统功能</a>
                                <ul class="nav nav-subnav">
                                    <li><a th:href="@{'/toFeedbackManage'}">意见反馈</a></li>
                                    <li><a th:href="@{'/toNoticeManage'}">消息通知</a></li>
                                    <li><a th:href="@{'/toBackUpManage'}">数据备份</a></li>
                                    <input type="hidden" name="managerId" id="managerId"
                                           th:value="${managerId}"><br>
                                </ul>
                            </li>
                        </ul>

                    </nav>

                </div>
            </aside>
            <!--End 左侧导航-->

            <!--头部信息-->
            <header class="lyear-layout-header">

                <nav class="navbar navbar-default">
                    <div class="topbar">

                        <div class="topbar-left">
                            <div class="lyear-aside-toggler">
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                            </div>
                            <span class="navbar-page-title"> 后台首页 </span>
                        </div>


                        <ul class="topbar-right">
                            <li class="dropdown dropdown-profile">
                                <a href="javascript:void(0)" data-toggle="dropdown">
                                    <span th:text="'当前管理员：'+${managerName}"><span class="caret"></span></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a th:href="@{'/toLoginOut'}"> 退出登录</a>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                            <li class="dropdown dropdown-skin">
                                <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                                <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                    <li class="drop-title"><p>主题</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>LOGO</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>头部</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>                      
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>侧边栏</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                        </ul>

                    </div>
                </nav>

            </header>
            <!--End 头部信息-->

            <!--页面主要内容-->
            <main class="lyear-layout-content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-primary">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">今日打卡人数</p>
                                        <p class="h3 text-white m-b-0">{{clockMembers}} 人</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                            class="mdi mdi-arrow-down-bold fa-1-5x"></i></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-danger">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">会员总数</p>
                                        <p class="h3 text-white m-b-0">{{totalMembers}} 人</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                            class="mdi mdi-account fa-1-5x"></i></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-purple">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">本月新增会员</p>
                                        <p class="h3 text-white m-b-0">{{newMembers}} 人</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                            class="mdi mdi-comment-outline fa-1-5x"></i></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="card bg-success">
                                <div class="card-body clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-white m-t-0">上月收入</p>
                                        <p class="h3 text-white m-b-0">￥ {{totalIncome}}</p>
                                    </div>
                                    <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                            class="mdi mdi-currency-cny fa-1-5x"></i></span></div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>会员信息</h4>
                                </div>
                                <div class="card-body">
                                    <div id="dy1" style="height: 300px;width: 600px;margin-top: 50px;margin-left:20px;">
                                        <div id="clockChart"
                                             style="border: 1px solid #438FB9; width:100%; height:100%;"></div>
                                    </div>
                                    <div id="dy" style="height: 300px;width: 600px;margin-top: 50px;margin-left:20px;">
                                        <div id="sexChart"
                                             style="border: 1px solid #438FB9; width:100%; height:100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>收入情况</h4>
                                </div>
                                <div class="card-body">
                                    <div id="dy2" style="height: 300px;width: 600px;margin-top: 50px;margin-left:20px;">
                                        <div id="incomeChart"
                                             style="border: 1px solid #438FB9; width:100%; height:100%;"></div>
                                    </div>
                                    <div id="dy3" style="height: 300px;width: 600px;margin-top: 50px;margin-left:20px;">
                                        <div id="incomeTypeChart"
                                             style="border: 1px solid #438FB9; width:100%; height:100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
</div>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/manageIndex.js"></script>
<script type="text/javascript">
    $.ajax({
        method: 'get',
        url: '/toSearchMembersSex',
        dataType: 'json',
        success: function (data) {
            initSexChat(data);
        }
    });

    function initSexChat(data) {
        var myChart = echarts.init(document.getElementById('sexChart'));
        option = {
            title: {
                text: '会员男女比例统计',
                subtext: '内部数据',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: data
            },
            series: [
                {
                    name: '男女数量',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        },
            myChart.setOption(option);
    };
</script>
<script type="text/javascript">
    $.ajax({
        method: 'get',
        url: '/toSearchAllClock',
        dataType: 'json',
        success: function (data) {
            initClockChat(data);
        }
    });

    function initClockChat(data) {
        var date = new Date();
        var seperator1 = "-";
        var month = date.getMonth()+1;
        var day = date.getDate();

        var currentdate =  month + seperator1 + day;
        var bdate =  month + seperator1 + (day-1);
        var cdate =  month + seperator1 + (day-2);
        var ddate =  month + seperator1 + (day-3);
        var edate =  month + seperator1 + (day-4);
        var fdate =  month + seperator1 + (day-5);
        var gdate =  month + seperator1 + (day-6);
        var myChart = echarts.init(document.getElementById('clockChart'));
        option = {
            title: {
                text: '近七天会员打卡人数',
                subtext: '内部数据',
                x: 'center'
            },
            xAxis: {
                type: 'category',
                data: [currentdate, bdate, cdate, ddate, edate, fdate, gdate]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '打卡人数',
                    data: data,
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'black',
                                    fontSize: 16
                                }
                            },
                            color: "#a011dd"
                        }
                    },

                },
                {
                    name: '打卡人数',
                    type: 'line',
                    data: data,
                    itemStyle: {
                        normal: {
                            color: "#87CEFA"
                        }
                    }
                },
            ]
        };
        myChart.setOption(option);
    }
</script>
<script type="text/javascript">
    $.ajax({
        method: 'get',
        url: '/toSearchIncomeAtMonth',
        dataType: 'json',
        success: function (data) {
            initIncomeChat(data);
        }
    });

    function initIncomeChat(data) {
        var myChart = echarts.init(document.getElementById('incomeChart'));
        option = {
            title: {
                text: '近一个月收入情况',
                subtext: '内部数据',
                x: 'center'
            },
            xAxis: {
                type: 'category',
                data: ['一周前', '两周前', '三周前', '四周前']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '收入总额',
                    data: data,
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'black',
                                    fontSize: 16
                                }
                            },
                            color: '#fbbd08'
                        }
                    },

                },
                {
                    name: '收入总额',
                    type: 'line',
                    data: data,
                    itemStyle: {
                        normal: {
                            color: '#6739b6'
                        }
                    }
                },
            ]
        };
        myChart.setOption(option);
    }
</script>

<script type="text/javascript">
    $.ajax({
        method: 'get',
        url: '/toSearchIncomeType',
        dataType: 'json',
        success: function (data) {
            initTypeChartChat(data);
        }
    });

    function initTypeChartChat(data) {
        var myChart = echarts.init(document.getElementById('incomeTypeChart'));
        option = {
            title: {
                text: '上个月收入分布',
                subtext: '内部数据',
                x: 'center'
            },
            xAxis: {
                type: 'category',
                data: ['会员办卡', '会员续费', '会员停卡', '私教收入']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '收入总额',
                    data: data,
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            label: {
                                show: true, //开启显示
                                position: 'top', //在上方显示
                                textStyle: { //数值样式
                                    color: 'black',
                                    fontSize: 16
                                }
                            },
                            color: '#8dc63f'
                        }
                    },

                },
                {
                    name: '收入总额',
                    type: 'line',
                    data: data,
                    itemStyle: {
                        normal: {
                            color:  '#9c26b0'
                        }
                    }
                },
            ]
        };
        myChart.setOption(option);
    }
</script>

</body>
</html>