<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.keepgym.members.mapper.OrderCoachMapper">
    <select id="findOrderCoachById" parameterType="String" resultType="com.lhj.keepgym.bean.OrderCoach">
        select * from order_coach where member_id = #{memberId} and coach_id = #{coachId};
    </select>

</mapper>